<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gestion User</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                      crossorigin="anonymous">
</head>
<body>
 <div class="container">
          
         <nav class="navbar navbar-inverse">
             <ul class="nav navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="GestionUser">Gestion User </a>
                 </li>
                 
                 <li class="nav-item">
                     <a class="nav-link" href="registration"> Registration </a>
                 </li>
                 
                  <li class="nav-item">
                     <a class="nav-link" href="/gestionNewsletter"> Newsletter  </a>
                 </li>
                 
                  <li class="nav-item">
                     <a class="nav-link" href=""> Exportation </a>
                 </li>
             </ul>
         </nav>
     </div>
     
     <div class="container">
      <table class="table table-hover">
        <p> Welcome <b> [[${#request.userPrincipal.principal.FullName}]] </b> 
              <span sec:authentication="principal.authorities">Profil</span> </p>
        
           <h4>Users List:</h4>
               <tr>
                 <th>First Name</th> 
                 <th>Last Name</th> 
                 <th>Email</th> 
                 <th>Phone number</th> 
                 <th>Birthday date</th> 
                 <th>Adress</th> 
                 <th>Profil</th>   
                 <th>Gender</th> 
                <th>Newsletter</th>  
                 <th>update</th> 
                 <th>delete</th> 
  </tr>

  <tr th:each="user: ${users}">
    <td th:text="${user.nom_user_fr}"></td>
    <td th:text="${user.prenom_user_fr}"></td>
    <td th:text="${user.email1_user}"></td>
    <td th:text="${user.tel1_user}"></td>
    <td th:text="${user.date_naiss_user}"></td>
    <td th:text="${user.adr_user}"></td>
    <td th:text="${user.profil}"></td>
    <td th:text="${user.gender}"></td>
   <td th:text="${user.newsletters}"></td> 
    <td>
      <a th:href = "@{/edit/{id}(id=${user.id_user})}"> Update </a>
    </td>
    
     <td>
      <a th:href = "@{/delete/{id}(id=${user.id_user})}"> delete </a>
    </td>
     
  </tr>
  
  
</table>



</div>
    
    <ul class="pager">
          <li> <a th:if="${currentPage > 1}" th:href="@{/page/1}"> First page</a>        
                  <span th:unless="${currentPage > 1}"> First page</span></li>   
        
         
               
             <li> <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}}"> Previous page</a>   
            <span th:unless="${currentPage > 1}">  Previous page</span> </li>  
         
             <li> <span th:each="i:${#numbers.sequence(1, totalPages)}">
                  
                <a th:if="${i != currentPage}" th:href="@{'/page/'+ ${i}}">[[${i}]]</a> 
                     <span th:unless="${i != currentPage}" > [[${i}]] </span>
               </span> 
             </li>
                 
         <li> <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next page</a>        
        <span th:unless="${currentPage < totalPages}"> Next page</span> </li> 
        
        
        <li>  <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}"> Last page</a>        
        <span th:unless="${currentPage < totalPages}"> Last page</span></li>
      </ul>   
    
    
      <div class="col-md-5 col-md-offset"> </div>
       <div>
         Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]] :     
         &nbsp; &nbsp;
         
       </div>
     
     
     <div class="col-md-4 col-md-offset-1">
                 <span>To check deleted users <a th:href="@{/deletedUsers}"> Click here</a></span> 
             </div>


           <div class="text-center">
                 <span>if you want to logout click on the link: <a th:href="@{/logout}">logout</a></span> 
             </div>

 
 <br>
 <br>
 <br>
 <div class="text-center">
  <h5> Copyright &copy; 2021 GIA. </h5>
</div>    
</body>
</html>